<div class="container " style="border: 1px solid #EFF0F2;" ng-app="main.module" ng-controller="mainController">
    <div class="row icon-Items animated fadeInLeft">
        <div class="col l2 m3 s6 icon-Item-container center-align haederFont">
            <a href="#Absence" ng-click="openWorklet('Absence','#Absence')">
                <div class="icon-Item center-align animated zoomIn"><img src="resources/IMG/icons/008-briefcase.png" align=""/></div>
            </a>
            Absence
        </div>
        <div class="col l2 m3 s6 icon-Item-container center-align haederFont">
            <a href="#Performance" ng-click="openWorklet('Performance','#Performance')">
                <div class="icon-Item center-align animated zoomIn"><img src="resources/IMG/icons/007-bars-chart.png" align=""/></div>
            </a>
            Performance
        </div>
        <div class="col l2 m3 s6 icon-Item-container center-align haederFont">
            <a href="#Directory" ng-click="openWorklet('Directory','#Directory')">
                <div class="icon-Item center-align animated zoomIn"><img src="resources/IMG/icons/006-directory.png" align=""/></div>
            </a>
            Directory
        </div>
        <div class="col l2 m3 s6 icon-Item-container center-align haederFont">
            <a href="#Favorites" ng-click="openWorklet('Favorites','#Favorites')">
                <div class="icon-Item center-align animated zoomIn"><img src="resources/IMG/icons/009-star.png" align=""/></div>
            </a>
            Favorites
        </div>
        <div class="col l2 m3 s6 icon-Item-container center-align haederFont">
            <a href="#Personal_Info" ng-click="openWorklet('Personal Information','#Personal_Info')">
                <div class="icon-Item center-align animated zoomIn"><img src="resources/IMG/icons/005-carnet.png" align=""/></div>
            </a>
            Personal Information
        </div>
        <div class="col l2 m3 s6 icon-Item-container center-align haederFont">
            <a href="#Pay" ng-click="openWorklet('Pay','#Pay')">
                <div class="icon-Item center-align animated zoomIn"><img src="resources/IMG/icons/004-cash.png" align=""/></div>
            </a>
            Pay
        </div>
        <div class="col l2 m3 s6 icon-Item-container center-align haederFont">
            <a href="#Benefits" ng-click="openWorklet('Benefits','#Benefits')">
                <div class="icon-Item center-align animated zoomIn"><img src="resources/IMG/icons/003-growth.png" align=""/></div>
            </a>
            Benefits
        </div>
        <div class="col l2 m3 s6 icon-Item-container center-align haederFont">
            <a href="#Career" ng-click="openWorklet('Career','#Career')">
                <div class="icon-Item center-align animated zoomIn"><img src="resources/IMG/icons/001-career.png" align=""/></div>
            </a>
            Career
        </div>
        <div class="col l2 m3 s6 icon-Item-container center-align haederFont">
            <a href="#Reports" ng-click="openWorklet('My HR Reports','#Reports')">
                <div class="icon-Item center-align animated zoomIn"><img src="resources/IMG/icons/002-newspaper.png" align=""/></div>
            </a>
            My HR Reports
        </div>
    </div>
</div>