<div class="myContainer ListLayOut" ng-app="main.module" ng-controller="mainController">
    <div class="row">
        <div class="col l6 m6 s12 flexCenterContainer">
            <span style="margin-right: 10px;"><b>SorT By:</b></span>
            <md-select ng-model="orderByField" aria-label="sortList" class="left" style="width: 50%;">
                <md-option ng-value="'id'"><em>None</em></md-option>
                <md-option ng-repeat="feild in orderByFields" ng-value="feild">{{feild}}</md-option>
            </md-select>
        </div>
        <div class="col l6 m6 s12 flexCenterContainer ListViewStyleContainer">
            <span><b>View: </b></span>
            <a class="waves-effect btn FlatBtn" ng-class="{notActiveViewBtn: listView==true}"
               ng-click="listView=false; gridView=true;"><i class="material-icons left">view_module</i>Grid</a>
            <a class="waves-effect btn FlatBtn" ng-class="{notActiveViewBtn: gridView==true}"
               ng-click="gridView=false; listView=true; pageSize=4;"><i class="material-icons left">list</i>List</a>
        </div>
        <div  class="col l6 m6 s12 flexCenterContainer">
            <div class="filterTableContainer right">
                <div class="input-field">
                    <i class="material-icons prefix">local_bar</i>
                    <input placeholder="Enter Filter" type="text" ng-model="workletItemsFilterText">
                </div>
            </div>
        </div>
        <div class="col s12">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="All {{SelectedWorkletName}} (22)">
                    <md-content class="tabContent">


                        <div class="workletListItem" ng-mouseover="showDominos($index)" ng-mouseleave="hideDominos($index)"
                             ng-repeat="item in workletItems
                             | filter:workletItemsFilterText
                             | startFrom:currentPage*pageSize
                             | limitTo:pageSize
                             | orderBy:orderByField:reverseSort"
                             ng-show="listView">
                            <div class="col l2 m3 s12 flexCenterContainer">
                                <div class="itemImage"><img ng-src="{{item.img}}" alt="" class="responsive-img"/></div>
                            </div>
                            <div class="col l10 m9 s12 itemDta">
                                <p>
                                    {{item.title}}
                                    <span class="right listDominosBtn" id="listDominos{{$index}}">
                                        <a ng-click="openItemDescription(item)"><i class="material-icons">more_horiz</i></a></span>
                                    <span class="right" ng-show="!showDominosBtn$index">${{item.price}}</span>
                                </p>
                                <p>{{item.description}}</p>
                                <p><a href="#">Offer >></a></p>
                            </div>
                        </div>









                        <div class="row" ng-show="gridView">

                            <div class="col l6 m6 s12" ng-repeat="item in workletItems| filter:workletItemsFilterText
                            | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:orderByField:reverseSort"">
                                <md-card class="workletItemCard" ng-mouseover="showDominos($index)"
                                         ng-mouseleave="hideDominos($index)">
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">{{item.title}}</span>
                                            <span class="md-subhead">{{item.description}}</span>
                                            <p><a href="#">Offer >></a></p>
                                        </md-card-title-text>
                                        <md-card-title-media>
                                            <div class="md-media-lg card-media responsive-img"><img ng-src="{{item.img}}" alt="" class="responsive-img"/></div>
                                        </md-card-title-media>
                                    </md-card-title>
                                    <md-card-actions style="margin-top: -20px;">
                                        <a class="cardDominosBtn right" id="cardDominos{{$index}}" ng-click="openItemDescription(item)"><i class="material-icons">more_horiz</i></a>
                                        <span class="cardPrice"><b>${{item.price}}</b></span>
                                    </md-card-actions>
                                </md-card>
                            </div>
                        </div>


                        <ul class="pagination right">
                            <li ng-class="{disabled: currentPage === 0}" >
                                <a>
                                    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="pagenationBtn">
                                        <i class="material-icons">chevron_left</i>
                                    </button>
                                </a>
                            </li>
                            <li><a><strong>{{currentPage+1}}/{{workletItems_numberOfPages()}}</strong></a></li>
                            <li ng-class="{disabled: currentPage >= getData(workletItems, workletItemsFilterText).length/pageSize - 1}">
                                <a>
                                    <button class="pagenationBtn" ng-disabled="currentPage >= getData(workletItems, workletItemsFilterText).length/pageSize - 1" ng-click="currentPage=currentPage+1">
                                        <i class="material-icons">chevron_right</i>
                                    </button>
                                </a>
                            </li>
                        </ul>
                        <!--End pagenation-->
                    </md-content>
                </md-tab>

                <md-tab label="MPaaS Actions (87)">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Tab MPaaS</h1>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
