<div class="modal modal-fixed-footer CategoriesModal" style="top:-10%;">
  <div class="modal-header" style="background: #F5F5F5"><i class="material-icons left">dvr</i> Categories</div>
  <div class="modal-content">
    <div class="progress favLoader"  *ngIf="CategoriesSubmit"><div class="indeterminate"></div></div>
    <div class="row"  style="padding: 20px 10px 10px 10px;">

      <div class="col l5 m5 s12">
        <button class="btn waves-effect waves-green btn-flat blueBtn" (click)="assignCategories()" [disabled]="CategoriesSubmit">Assign</button>
        <button class="btn waves-effect waves-green" (click)="openAddCategory()">New</button>
      </div>

      <div class="addCategoryContainer animated fadeInDown">
        <div class="progress favLoader" *ngIf="addCategoriesReady"><div class="indeterminate"></div></div>
        <i class="material-icons right" (click)="closeAddCategory()">close</i><br/>
        <fieldset>
          <legend>Add Category</legend>
          <div class="input-field col s12 modalInput">
            <input type="text" [(ngModel)] = "categoryObject.categoryIcon" placeholder="Category icon"></div>
          <div class="input-field col s12 modalInput">
            <input type="text" [(ngModel)] = "categoryObject.name" placeholder="Name"></div>
          <div class="input-field col s12 modalInput">
            <input type="text" [(ngModel)] = "categoryObject.nominalCode" placeholder="Nominal code"></div>
          <button class="btn waves-effect waves-green btn-flat blueBtn" (click)="addCategory()">Add</button>
        </fieldset>
      </div>



      <table id="categoriesTable" datatable [dtOptions]="{pagingType: 'full_numbers',displayLength: 6}"
             [dtTrigger]="dtTrigger" class="bordered striped centered">
        <thead><tr><th></th><th>Name</th><th>Description</th></tr></thead>
        <tbody>
        <tr *ngFor="let category of Categories; let i=index">
            <td>
              <p style="padding: 0; margin: 0;" *ngIf="category.name">
                <input type="checkbox" id="category{{i}}" [checked]="category.selected"
                       (change)="category.selected = $event.target.checked;"/>
                <label for="category{{i}}">select</label>
              </p>
            </td>
            <td>{{category.name}}</td>
            <td>{{category.nominalCode}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action waves-effect waves-green btn-flat canselBtn" (click)="cancelCategoriesModal()">cancel</a>
  </div>
</div>