/*@import url('https://fonts.googleapis.com/css?family=Quicksand');*/
body{ overflow-x: hidden; background: #EFF0F2;  }
.haederFont{font-family: 'Quicksand', sans-serif; font-weight: 600;}
.icon-Item img{  -webkit-transition: all .6s;  -moz-transition: all .6s;  -ms-transition: all .6s;  transition: all .6s;  }
.FlatBtn{box-shadow: none; padding-left: 15px; padding-right: 15px; }
.flexCenterContainer,.dataTables_wrapper .dataTables_filter {
    display: -webkit-flex;  display: flex;  -webkit-flex-direction: row;  flex-direction: row; -webkit-align-items: center;
    align-items: center; -webkit-justify-content: center; justify-content: center;
}
.myContainer{margin-left: 10%; margin-right: 10%; }
.noSpace{padding: 0; margin: 0;}


.pulse {
    -webkit-animation: pulse .2s; /* Safari 4+ */
    -moz-animation:    pulse .2s; /* Fx 5+ */
    -o-animation:      pulse .2s; /* Opera 12+ */
    animation:         pulse .2s; /* IE 10+, Fx 29+ */
}
.blueBtn{background: #0FB1E0; color: #fff; box-shadow: none;}
.greenBtn{}
.canselBtn{background: #F5F5F5;}




.dataTables_wrapper .dataTables_length{display: none;}
.dataTables_wrapper .dataTables_filter{margin-bottom: -20px; color: #222; font-weight: 600;}
.dataTables_wrapper .dataTables_filter input{width: 100px;}

.dataTables_wrapper .dataTables_paginate .paginate_button{background: #E8E8E8; border: none; color: blue;}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{background: red; border: none; color: #fff;}




/*************************************** Home page style ************************/
nav{background: #0fb1e0; padding-left: 20px; height: 60px; box-shadow: none; font-size: 15px;}
nav ul a{height: 60px;}
nav .nav-wrapper a{font-size: 18px;}
/*.pageContainer{margin-bottom: 25vh;}*/
.icon-Items{margin-top: 47px;}
.icon-Item-container{height: 170px;}
.icon-Item, .SelectedWorkletTitleContainer > div{height: 110px; width: 110px; background: #ffffff;
    border: 1px solid #EBECED; border-radius: 50%;  }
.icon-Item{margin: 10px auto; padding-top: 35px; overflow: hidden;cursor: pointer;}


.icon-Item img{ height: 50px; width: 50px; margin-top: -5px; }
.icon-Item:hover img {  -ms-transform: scale(1.2);  -moz-transform: scale(1.2);  -webkit-transform: scale(1.2);  transform: scale(1.2);  }
.closeModalBtn{color: #222; font-size: 40px; cursor: pointer; margin: 20px;}

.searchForm{width: 270px; margin-left: 60px;position: relative;}
.userListImage{height: 45px; width: 45px; border-radius: 50%; background: #fff; margin-left: 5px; margin-top: 8px; overflow: hidden;}
.userListImage i{font-size: 35px;}



.mobileSearchForm{position: relative; overflow: hidden; padding-left: 20px; background: #fff; padding-top: 5px; display: none;}
.mobileSearchForm i{margin-top: 15px; color: #0FB1E0; font-weight: 600; }
.mobileSearchForm >i{margin-top: 5px; cursor: pointer; position:absolute; right: 10px;  }

.SelectedWorkletTitleContainer{padding: 6px; padding-bottom: 0; color: #222;
    border-bottom: 1px solid #E8E8E8; padding-left: 15px; position: relative; display: block; overflow: hidden;}
.SelectedWorkletTitleContainer > div{height: 40px; width: 40px; padding-top: 12px;}
.SelectedWorkletTitleContainer > div img{ height: 21px; width: 21px; margin-top: -5px;}
.SelectedWorkletTitleContainer > span{ margin: 10px; font-size: 16px; font-weight: 600;}



.workletContainerInner{background: #fafafa; min-height: 78vh;  border: 1px solid #EFF0F2; padding: 0; margin: 0; }
.workletContainerInner .progress{margin: 0; border-radius: 0;}
.workletContainerInnerContent{ padding: 10px;}



.page-footer{position:relative; bottom: -3px; background: #25C7CA;}
.page-footer .footer-copyright{margin-top: -20px;}




/**************************** list layout ****************************/
.ListViewStyleContainer{margin-top: 10px;}
.ListViewStyleContainer >label{position:relative; display: block;}
.ListViewStyleContainer > a{margin-left: 10px;}
.ListViewStyleContainer > a.notActiveViewBtn{background: #F5F5F5; color: #2BBBAD;}
.workletOperations{border: 1.3px solid #EFF0F2; position: relative; height: auto; padding-top: 20px;  background: #ffffff;}
.sortItemsBtn{
    background: #2CBBAD; color: #fff;
    border: none; padding: 5px; position: relative;
    display: block;
    margin-top: 10px;
    width: 120px;
}
.tabs.tabsContainer{background: transparent; border: 1.3px solid #EFF0F2; margin: 0;}
.tabContainer{  background: #FAFAFA; border: 1.3px solid #EFF0F2;}
.tabContainer >div{  padding-top: 20px;  }




.workletListItem{border-bottom: 1px solid #E5E5E5; position: relative; margin-bottom: 10px;padding: 10px; padding-bottom: 0; }
.workletListItem:hover, .workletItemCard:hover{background: #E8F1FA;  }
.workletListItem .itemImage{position: relative; height: 110px; width: 110px;  }
.workletListItem .itemDta p:nth-child(1){font-weight: 600; font-size: 18px;  margin-top: 0px;}
.workletListItem .itemDta p:nth-child(1) span:nth-child(1){
    position: absolute; top: 0px; right: 10px; cursor: pointer;
}
.workletListItem .itemDta p:nth-child(1) span:nth-child(1) a{
    background: #E5E5E5; border: 1px solid #039BE5; margin-left: 10px; padding-top: 5px; padding-right: 10px; padding-left: 10px;
}
.workletListItem .itemDta p:nth-child(1) span:nth-child(1) a i{font-size: 30px; position: relative; bottom: -7px;}
.workletListItem .itemDta p:nth-child(2){height: 45px; overflow: hidden; word-wrap: break-word; margin-top: -10px;}
.workletListItem .itemDta p:nth-child(3){margin-top: -10px;}
.filterTableContainer i{  bottom: 20px; color:#CCCCCC;}


.paganationBtn, .paganationBtnNumber{border: none; color: #ffffff; padding-left:15px; padding-right:15px; padding-top: 8px; background: #0FB1E0;  }
.paganationBtn.disabled{  background: #f5c6cb;  }
.paganationBtnNumber{min-width: 50px; padding: 8px; position: relative; top: -8px; background: transparent; color: #0FB1E0;}
.paganationBtnNumber.active{background: #EE6E73; color: #fff;}

.card{ cursor: pointer;}
.card .card-image{  padding-top: 20px;  height: 150px;}
.card .card-content{height: 255px; padding-top: 10px; position: relative; overflow: hidden;}
.card .card-content p a{cursor: pointer;}
.card .card-image img{height: 150px; width: 150px; border-radius: 5px; border: 1.5px solid #fff; display: none;}

/*list*/
.card.horizontal .card-image{padding: 5px;}
.card.horizontal .card-image img{max-height: 100px; max-width: 100px; border-radius: 5px;}
.card.horizontal .card-content{height: auto; overflow: auto;}


.cardPrice{font-size: 20px; margin-left: 10px;}
.tabContent{padding: 10px;}
.dominosBtn{position: absolute;  top:10px; right:10px; background: #ffffff; border: 1px solid #EBECED; width:50px; height: 30px; cursor: pointer;}
.dominosBtn i{font-size: 30px;}
.collection.CardCollection{border: none; width: 100%; position: relative; display: block; clear: both;}


.card .card-title.activator{display: none;}
.hoverCardAction{background: #E8F1FA; color: #5F9FDF;}
.listViewDropDown{width:auto; position:absolute; right:10px; top:50px; background:#fff; z-index:999999999; border:1px solid #EBECED; display:none;}


#ietemTitle{font-size: 25px; font-weight: 600; margin-bottom: 15px;}
#itemPrice{color: #5F9FDF; font-size: 25px; text-align: right;}